<body id="body-index">
	<h1 class="card-title">
		<strong>Login</strong>
	</h1>

	<section id="section-card">
		<div class="card w-96 glass">

			<div class="card-body">
				<form id="form-login" action="/auth/login" method="POST">
					<label>
						Username:
						<input id="input-c" type="text" name="username" />
					</label>
					<label>
						Password:
						<input id="input-c" type="password" name="password" />
					</label>

					<div class="card-actions justify-end">
						<button class="btn btn-secondary" type="submit">Login</button>
					</div>
				</form>
				<button class="btn"><a href="/">Home</a></button>
			</div>
			{{#if errorMessage}}
				<p class="error">{{errorMessage}}</p>
			{{/if}}
		</div>
	</section>

</body>