<h1>
	<strong>Login</strong>
</h1>

<section id="section-card">
	<div class="card w-96 glass">

		<div class="card-body">
			<form id="form-login" action="/auth/login" method="POST">
				<label>
					Username
					<input id="input-c" type="text" name="username" />
				</label>
				<label>
					Password
					<input id="input-c" type="password" name="password" />
				</label>

				<div class="card-actions justify-end">
					<button class="btn btn-primary" type="submit">Login</button>
				</div>
			</form>
		</div>
	</div>
</section>

<a href="/"><strong>Home</strong></a>

{{#if errorMessage}}
	<p class="error">{{errorMessage}}</p>
{{/if}}