<nav>

	<h2>See you soon!</h2>

	<form id="form-login" action="/auth/logout" method="POST">
		<button class="btn btn-primary">Logout</button>
	</form>
</nav>

{{#if errorMessage}}
	<p class="error">{{errorMessage}}</p>
{{/if}}