<nav id="header">
	<a id="link-create" href="/codeFile"><Strong>+</Strong></a>
	<a href="/profile"><Strong>Profile</Strong></a>
</nav>

<form action="/auth/logout" method="POST">
	<button>Logout</button>
</form>

{{#if errorMessage}}
	<p class="error">{{errorMessage}}</p>
{{/if}}