<h1>
	{{title}}
</h1>

<form action="/compile/{{id}}" method="POST">

	{{#each languages}}
		<div id="input-l">
			<input id="input-l" name="language" value="{{this}}" readonly />
		</div>
		<div id="card-code">
			<textarea name="code" cols="40" rows="12"></textarea>
		</div>
	{{/each}}

	<button type="submit">Submit</button>
</form>