<h1>
	Edit Profile
</h1>

<form action="/editprofile/{{_id}}" method="POST" enctype="multipart/form-data">
	<label>
		Username
		<input id="input-c" type="text" name="username" value="{{username}}" />
	</label>

	<label>
		Profession
		<input id="input-c" type="text" name="profession" value="{{profession}}" />
	</label>
	<label>
		Interests
		<input id="input-c" type="text" name="interests" value="{{interests}}" />
	</label>
	<label>
		Image
		<input
			id="input-c"
			type="file"
			name="image"
			accept=".jpg, .png, .jpeg, .webp"
		/>
	</label>

	<button type="submit">Submit</button>
</form>