<h1 class="card-title">My Code Library</h1>

<section id="section-index">
	<div id="div-card" class="card w-96 bg-base-100 shadow-xl">
		<div class="card-body items-center text-center">
			<a href="/auth/login"><button class="btn btn-primary">Login</button></a>

			<button class="btn"><a href="/auth/signup">SignUp</a></button>

			<button class="btn btn-primary"><a href="/auth/logout">Logout</a></button>

			<button class="btn"><a href="/workspace">WorkSpace</a></button>
		</div>
	</div>
</section>