<nav id="header">
	<a id="link-create" href="/codeFile"><Strong>+</Strong></a>
	<a href="/profile"><Strong>Profile</Strong></a>
</nav>

{{#each codes}}
	<section id="section-card">
		<div id="div-card" class="card w-96 bg-base-100 shadow-xl">
			<figure class="px-10 pt-10">
				<img src="{{this.image}}" class="rounded-xl" />
			</figure>
			<div class="card-body items-center text-center">
				<h2 class="card-title">{{title}}</h2>
				<p>{{languages}}</p>
				<div class="card-actions">
					<a href="/codefile/{{_id}}"><button
							class="btn btn-primary"
						>Open</button></a>
				</div>
			</div>
		</div>
	</section>
{{/each}}