/* Colors */
:root {
	--hue: ;

	--base-color: hsl(var(--hue) 100% 25%);
	--body-color: hsl(var(--hue) 80% 80%);
	--header-color: hsl(var(--hue) 60% 90%);
	--title-color: hsl(var(--hue) 90% 15%);
	--text-color: hsl(0 0% 46%);
	--background-color: hsl(0, 0%, 95%);
	--error-color: hsl(342, 94%, 45%);
}

h1,
h2,
h3,
h4,
h5 {
	display: flex;
	justify-content: center;
	color: var(--title-color);
	margin: 1rem;
}

a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--base-color);
	text-decoration: none;
	font-size: 1.5em;
	margin-top: 10px;
}

#section-card {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

#link-create {
	font-size: 30px;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 1rem;
	margin-right: 1rem;
}

form label {
	color: var(--text-color);
	margin-bottom: 10px;
	text-align: center;
}

#form-login input,
#form-login button {
	box-sizing: border-box;
	font-size: 14px;
	outline: 0;
	padding: 4px;
	width: 100%;
	margin-bottom: 20px;
}

#input-c {
	display: flex;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	margin-top: 1rem;
	border: none;
	border-radius: 0.5rem;
}

.error {
	background: var(--error-color);
	box-sizing: border-box;
	color: var(--background-color);
	margin: 20px auto;
	padding: 20px;
	width: 100%;
	border-radius: 5px;
}

.wrap-languages {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
}
